# Test binary, build with `go test -c`
*.test

# Binaries
/bin/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDEs
/.idea

# logs
*.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/cmd/rly/rly

# image assets and outputs
/cmd/**/*.png
/cmd/**/*.jpg
/cmd/**/*.tif
/cmd/**/*.gif
/coverimage/**/*.png
/coverimage/**/*.jpg
/coverimage/**/*.tif
/coverimage/**/*.gif
*.tar.xz
*.tar.gz
/assets/

# fonts
/font/
*.ttc
*.ttf

# config file
config.toml

# backups
*.bak
