# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDEs
/.idea

# logs
*.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/cmd/rly/rly

# image assets and outputs
/cmd/**/*.png
/cmd/**/*.jpg
/cmd/**/*.tif
/cmd/**/*.gif
/coverimage/**/*.png
/coverimage/**/*.jpg
/coverimage/**/*.tif
/coverimage/**/*.gif

# fonts
*.ttc
*.ttf

# config file
/cmd/rly/config.toml
